<div class="jumbotron my-3">
  <h1 class="display-4"><%= @article.title %></h1>
  <p class="lead"><%= @article.description %></p>
  <hr class="my-4">
  <%= link_to "Back to all Articles", articles_path, class: "btn btn-primary" %>
  <%= link_to "Edit this Article", edit_article_path(@article), class: "btn btn-secondary" %>
  <%= link_to 'Delete this Article', article_path(@article), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
</div>